@import "../../variables";

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.card {
  margin-top: 2em;
}

.card-img-top {
  height: 50%;
}
