.about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-info img {
  border-radius: 10%;
  margin-right: 2rem;
  padding: 1em;
}

.about-info p {
  flex-basis:55%;
  text-align: left;
}