@import "../../variables";

#About {
  height: 100vh;
}

.underline {
  border-bottom: solid $grey 5px;
  width: 6rem;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.heading{
  font-family: $raleway;
  color: $grey;
  font-size: 3rem;
  padding-top: 1em;
  margin-bottom: 0;
}
.about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 35%;
  margin-right: 2em;
}

.about-info img {
  border-radius: 10%;
  margin-right: 2rem;
  padding: 1em;
}

.about-info p {
  flex-basis:55%;
  text-align: left;
}

.tech-stack {
  padding-bottom: 2em;
}
.stack-img {
  width: 125px;
  height: 125px;
  padding: 2px 7px;
}

about-section h1, h2 {
  font-family: $raleway;
  color: $grey;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}