// colors
$light-red: #f7797d;
$light-yellow:#FBD786;
$light-green: #A5CC82;
$light-orange: #F3904F;
$dark-grey: #252934;
$white: #eee;
$grey: #616161;
$black-blue: #1f2d54;
$black-navy: #1b242f;
$teal: #04c2c9;
$magenta: #E31B6D;

//font
$shadow: 'Shadows Into Light', serif;
$raleway: 'Raleway', sans-serif;


