// colors
$light-red: #f7797d;
$light-yellow:#FBD786;
$light-green: #A5CC82;
$light-orange: #F3904F;
$white: #eee;
$grey: #616161;

//font
$shadow: 'Shadows Into Light', serif;
$raleway: 'Raleway', sans-serif;


